<h1>Our Articles</h1>
<ul>
  <% @articles.each do |article| %>
  <li>
    <%= article.title %><br />
    <%= article.content %>
  </li>
  <% end %>
</ul>
<p>Comments for this article</p>
<ul>
  <% @comments.each do |comment| %>
  <li>
    <%= comment.comment %><br />
    <%= comment.email %>
  </li>
  <% end %>
</ul>
