<h1>Our Articles</h1>
<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title , article_path(article) %><br />
    <%= article.content %><br />
    <p>Comments for this article</p><br />
  </li>
  <% end %>
</ul>
